@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 200vh;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  color: rgb(56, 56, 56);
}

svg {
  pointer-events: none;
}

ul {
  list-style: none;
  color: rgb(56, 56, 56);
}

a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

button {
  border: none;
  outline: none;
  color: rgb(56, 56, 56);
  font-family: 'Poppins', sans-serif;
}

.load__img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.load__img img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 7rem;
  height: 7rem;
  background-color: transparent;
}

/* navbar */
nav {
  width: 100%;
  height: 80px;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav__box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  font-size: 20px;
}

.nav__menu {
  cursor: pointer;
}

.like__list {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 217, 91, 0.96);
  z-index: 200;
  padding: 1rem 1rem 1rem;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nofavorites {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.show {
  right: 0;
}

.like__list > button {
  margin-left: 90%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.like__items {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 2rem;
}

.like__list__item {
  position: relative;
  width: 70%;
  height: auto;
  background-color: wheat;
  padding: 10px;
  border-radius: 6px;
  margin: 0 auto;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.deleteBtn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  cursor: pointer;
  background-color: transparent;
  fill: rgb(228, 132, 42);
}

.linkBtn > svg {
  width: 30px;
  cursor: pointer;
  width: 20px;
}

.like__list__item > img {
  width: 100%;
  mask-border: 4px;
}
.like__list__item > p {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

/* Search */
#search {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  background-image: url('img/food.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 120px 80px 80px;
}

.arrow__down {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  z-index: 40;
  cursor: pointer;
  background-color: transparent;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  width: 300px;
  height: 56px;
  border: none;
  /* background-color: rgb(248, 220, 129); */
  background-color: #f4f6ff;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 28px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* padding: 10px 10px 10px 14px; */
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search__input {
  background-color: #f4f6ff;
  border: none;
  width: 80%;
  height: 70%;
  padding-left: 10px;
  font-size: 16px;
}

.search__input::placeholder {
  color: rgb(219, 168, 37);
}

.searchBtn {
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(255, 213, 107);
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.search__tag {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag__item {
  cursor: pointer;
  width: auto;
  height: 40px;
  /* background-color: rgb(252, 249, 225); */
  background-color: #f4f6ff;
  opacity: 0.96;
  margin: 0 10px 10px;
  padding: 10px 20px;
  line-height: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dadce0;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  color: rgb(56, 56, 56);
  font-weight: 600;
}

/* Result */
#result {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto 10px;
  padding: 120px 80px 80px;
  background-image: url('img/result.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* overflow-y: scroll; */
}

.invisible {
  display: none;
}

.no__result {
  color: #ffffff;
  font-size: 32px;
  margin: 3rem auto;
}

.arrow__up {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  z-index: 40;
  cursor: pointer;
  background-color: transparent;
}

.recipe__list {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
}

.recipe__card {
  position: relative;
  width: calc(25% - 24px);
  margin: 0 12px 24px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.8);
  /* padding: 14px; */
}

.recipe__card__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.recipe__card__inner img {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.recipe__card__inner > h3 {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.recipe__card__inner > p {
  font-size: 14px;
}

.recipe__btn {
  width: 120px;
  height: 40px;
  padding: 4px;
  border-radius: 50px;
  background-color: rgb(255, 213, 107);
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
}

.recipe__mark {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  fill: rgb(196, 196, 196);
}

.active {
  fill: rgb(255, 207, 50);
}

/* paging css*/
.pagination {
  width: auto;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

#pages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.prev,
.next,
.page {
  width: 30px;
  background-color: #ffffff;
  margin: 0 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  cursor: pointer;
}
